body{
   background-image: url("image 1.jpg");
   background-position: -291px;
   background-position-x: -7px;
}

.centered-form{
	margin-top: 160px;
	margin-left: -6%;
}

/* .centered-form .panel{ */
	/* background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px; */
/* } */
#naveen{
	width: 480px;
    height: 300px;
    margin-left: 104%;
}
#A{
	margin-right: 1%;
	width: 244px;
}
#b{
	margin-left: 0%;
	margin-right: 2%;
}
#first_name{
	margin-left: 5%;

}
#d{
	margin-left: 0%;
	width: 244px;
}
.panel-body{
	width: 471px;
}
#c{
	margin-left: -1%;
}
#last_name{
	margin-left: -2%;
}
#e{
	margin-left: 2%;
	margin-right: 1%;
}
#g{
	margin-left: 0%;
    margin-right: 2%;
}
#f{
	margin-left: 2%;
}
#h{
	margin-left: -3%
}
#j{
	margin-left: 39%;
}
.panel-title{
	text-align: center;
    font-size: inherit;
    font-style: oblique;
    font-family: ui-serif;
    color: white;
}
